footer {
  background: url(/assets/img/bg-footer.jpg) center/cover;
  color: $color1;
  // border: 2px solid green;
  width: 100%;
  display: flex;
  position: absolute;
  @media screen and (max-width: 660px) {
    background: $color6;
  }
    &::after {
      content: "";
      height: 350px;
      width: 100%;
      position: absolute;
      background: url(../img/gmap.jpg) center/cover;
      left: 0;
      top: -350px;
      z-index: -1;
    }
    .footer-container {
      // border: 2px solid orange;
      width: 1055px;
      margin: 0 auto;
      display: flex;
    
    .footer-left {
      // border: 2px solid blue;
      width: 50%;
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 660px) {
        display: none;
      }
        &-content {
          // border: 2px solid cyan;
          width: 95%;
          padding: 20px 30px 40px 5px;
            & h3 {
              font-family: $font1;
              font-weight: 100;
              font-size: 40px;
              color: $color7;
              text-transform: capitalize;
              // line-height: 30px;
              // margin: 30px 0 15px;
            }
            & p {
              font-family: $font3;
              font-weight: 400;
              font-size: 14px;
              color: $color8;
              line-height: 30px;              
            }
        }
    }
    .footer-right {
      // border: 2px solid yellow;
      width: 50%;
      padding: 20px 0 0 30px;
      @media screen and (max-width: 660px) {
        margin-bottom: 50px;
      }
        & h4 {
          font-family: $font3;
          font-weight: 700;
          font-size: 14px;
          color: $color1;
          text-transform: uppercase;
          margin-bottom: 15px;
          @media screen and (max-width: 660px) {
            margin-top: 40px;
          }
        }
        & input {
          background: none;
          border: none;
          border: 1px solid #a672455d;
          border-radius: 3px;
          padding: 5px 15px;
          color: $color8;
          width: 40vmin;
          max-width: 250px;
          margin-bottom: 30px;
          @media screen and (max-width: 660px) {
            margin-bottom: 40px;
          }
        }
        .social {
          // border: 2px solid purple;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 40vmin;
          max-width: 250px;
          margin-right: 5px;
          @media screen and (max-width: 660px) {
            width: 60vmin;
            max-width: 350px;
          }

            & h5 {
              font-family: $font3;
              font-weight: 700;
              font-size: 14px;
              color: $color1;
              text-transform: uppercase;
            }
            & i {
              font-size: 13px;
              color: #595956;
            }
        }
    }
  }
}