.section1 {
  // border: 2px solid green;
  background: $color1;
  display: flex;
    .left-part {
      // border: 2px solid red;
      width: 50%;
      text-align: center;
      border: 1px dashed $color7;
      margin: 15px;
      padding: 30px;
      @media screen and (max-width:665px) {
        width: 100%;
      }
      & p, & h4, & img, & h6 {
        margin-bottom: 30px;
      }
      & h3 {
        font-family: $font1;
        font-weight: 500;
        font-size: 32px;
        color: $color7;
        text-transform: capitalize;
      }
      & h4 {
        font-family: $font2;
        font-weight: 700;
        font-size: 19px;
        color: $color3;
        text-transform: uppercase;
      }
      & p {
        font-family: $font3;
        font-weight: 400;
        font-size: 16px;
        color: $color3;
      }
      .avatar-01 {
        width: 80px;
        border-radius: 40px;
      }
      & h5 {
        font-family: $font2;
        font-weight: 100;
        font-size: 16px;
        color: $color3;
        text-transform: capitalize;
      }
      & h6 {
        font-family: $font3;
        font-weight: 700;
        font-size: 11px;
        color: $color8;
        text-transform: uppercase;
      }
          
    }
    .right-part {
      // border: 2px solid pink;
      height: auto;
      width: 50%;
      background: url(/assets/img/store-01.jpg) bottom/cover;
      @media screen and (max-width:665px) {
        display: none;
      }
    }
}